#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 253, 251);
  padding: 5% 5% 5% 5%;
  box-shadow: 1px 1px 1px rgb(240, 240, 240);
  border-radius: 0.5rem;
  margin-left: 150px;
  margin-right: 150px;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image-wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 2px;
  margin-bottom: 4px;
}

#upload-image-here {
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
}

.gallery-image {
  padding: 2px;
}

.gallery-image:hover {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.text {
  width: 40%;
  font-family: "Garamond";
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

h1 {
  font-family: "Garamond";
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: -50px;
  font-style: italic;
}

.modal-thumbnail {
  display: none;
  position: absolute;
  padding-top: 50px;
  float: left;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.thumbnail-content {
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 50px;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: auto;
}

.close-btn {
  font-weight: bold;
  font-size: 20px;
}

.close-btn:hover {
  cursor: pointer;
}

#make-new-poem {
  background-color: rgb(41, 41, 41);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 0.2rem;
  margin-top: 20px;
  font-family: "Garamond";
  font-size: 19px;
  font-style: italic;
}

#clear-images {
  background-color: rgb(41, 41, 41);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 0.2rem;
  margin-top: 17px;
  font-family: "Garamond";
  font-size: 19px;
  font-style: italic;
}

#clear-images:hover {
  cursor: pointer;
  background-color: red;
}

#make-new-poem:hover {
  cursor: pointer;
  background-color: red;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px dashed #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-family: "Garamond";
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: -3px;
}

#generating {
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
}