#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#image-wrapper {
  padding-top: 15px;
  padding-bottom: 20px;
}

#upload-image-here {
  font-weight: bold;
  padding-bottom: 15px;
  text-align: center;
}

.gallery-image {
  box-shadow: 2px 2px rgb(73, 73, 73);
}

.gallery-image:hover {
  cursor: pointer;
}

.text, #upload-image-here {
  width: 40%;
  font-family: "Garamond";
  font-weight: bold;
  text-align: center;
}

h1 {
  font-family: "Garamond";
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.modal-thumbnail {
  display: none;
  position: absolute;
  padding-top: 50px;
  float: left;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.thumbnail-content {
  height: 100%;
  width: 100%;
  position: fixed;
  padding: 50px;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: auto;
}

.close-btn {
  font-weight: bold;
  font-size: 20px;
}

.close-btn:hover {
  cursor: pointer;
}